body{
    /* background-color: antiquewhite; */
}
.goalCard{
  background-color: white;
  border: 1px solid #380d0d;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}   
.goalCard:hover{
    background-color: rgb(255, 248, 122);
}
.buttons{
    display: flex;
    gap: 40px;
    
}
.btn-delete,.btn-edit{
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
}