.progress-card{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  /* width: 50%;*/
  margin-bottom: 5%; 
  width: 30%;
  margin-top: 5%;
}